.label-available {
	font-family: Arial, Helvetica, sans-serif;
	color: #5aff15;
}
           
.label-busy {
	font-family: Arial, Helvetica, sans-serif;
	color: red;
}

.availaboard-grid {
	width: 35%;
	margin-top: 15px;
}

.popup-button {
	color: rgb(2, 200, 200);
	text-decoration: underline;
}

.popup-button:hover {
  color: rgb(0, 250, 225);
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


