.label-available {
	font-family: Arial, Helvetica, sans-serif;
	color: #5aff15;
}
           
.label-busy {
	font-family: Arial, Helvetica, sans-serif;
	color: red;
}

.availaboard-grid {
	width: 100%;
	margin-top: 15px;
	max-width: 400px;
}

.popup-button {
	color: rgb(2, 200, 200);
	text-decoration: underline;
}

.popup-button:hover {
  color: rgb(0, 250, 225);
  backface-visibility: hidden;
  perspective: 1000px;
}




