.login-information {
    min-width: 300px;
    flex: 0;
    background: var(--lumo-primary-color-50pct);
}

@media (max-width: 800px) {

    .login-screen {
        flex-direction: column;
    }

    .login-information {
        display: block;
    }
}


body {
    --overlay-box-shadow: 0 0 3px 2px var(--lumo-contrast-10pct);
}

.menu-header {
    padding: 11px 16px;
    padding-left: 32px;
    font-size: var(--lumo-font-size-l);
}

.menu-toggle {
   display: block;
   height: var(--lumo-button-size);
   width: var(--lumo-button-size);
 }
 
 .menu-toggle:hover::before {
    opacity: 0;
}

.menu-toggle[focus-ring] {
  box-shadow: 0 0 0 0;
}

 .menu-toggle:click {
    outline: none;
    color: red;
}
    
.menu-link:hover {
  text-decoration: none;
  border-bottom-color: #fff9;
}


.menu-link {
	display: block;
    padding: 3px;
    transition: transform 300ms;
    
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    font-weight: 500;
    color: var(--lumo-secondary-text-color);
    border-bottom: 3px solid #fff3;
}

.menu-link span {
    padding-left: 10px;
}

.product-form {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: auto;
    background: var(--lumo-base-color);
    box-shadow: var(--overlay-box-shadow);
}

.product-form-content {
    margin-top: var(--_vaadin-app-layout-navbar-offset-size);
}

/* 
 * Special rules for narrow screens (responsive design rules)
 */
@media (max-width: 800px), (max-height: 600px) {
    
    .menu-header {
        padding-left: 0;
    }
}

@media (max-width: 550px) {

    .product-form {
        width: 100%;
        --vaadin-text-field-default-width: 6em;
    }
}

