.username-label {
     font-size: clamp(1.5rem, 3vw, 2.5rem)
}

.status-label {
     font-size: clamp(1rem, 2vw, 1.5rem)
}

.username-status-container {
   margin-top: 50px;
   margin-left: 30px;
   max-width: 25%;
   background-color: light-blue;
 }