.username-label {
     font-size: clamp(1.5rem, 3vw, 2.5rem);
     color:  #a9a9a9;
}

.status-label {
     font-size: clamp(1rem, 2vw, 1.5rem)
}

.username-status-container {
   margin-top: 50px;
   max-width: 25vw;
   background-color: black;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

 .user-field-container {

 }